<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HFTabbarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87C802681DA9E82300511B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C802811DA9E82300511B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C8028C1DA9E82300511B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
